nav {
  background-color: rgb(56, 59, 59);
  color: white;
  padding: 1rem;
}

.clear {
  clear: both;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  padding-left: 4rem;
}

body {
  background-color: cornsilk;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.8rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 2.8rem;
}
